.hidden {
  display: none;
}

.visible {
  display: block;
}



/* .step7 svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.step7 svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.step7 svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.step7 svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}.step7 svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.step7 svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.step7 svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.step7 svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}

.step7 svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.step7 svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.step7 svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.step7 svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.step7 svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.step7 svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
}

.step7 svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.step7 svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.step7 svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.step7 svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.step7 svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.step7 svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
} */