html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #ffe4c4;
}

.hidden {
  visibility: hidden;
}

.song {
  visibility: hidden;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
  width: 100vw;
}

.container>div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

.step1 {
  font-weight: 700;
  font-size: 2rem;
}

.step1 .says {
  margin: 0;
  overflow: hidden;
}

.step1 .says span {
  visibility: hidden;
}

.says::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


.baloons img {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: auto
}

.baloons img:nth-child(even) {
  left: 10%;
}

.baloons img:nth-child(odd) {
  right: 10%;
}

.baloons img:nth-child(3n + 0) {
  left: 40%;
}

.step3 {
  font-weight: 700;
  font-size: 2rem;
  visibility: hidden;
}

.step3 .textPresent {
  margin: 0;
  overflow: hidden;
}

.step3 .img-start {
  border-radius: 50%;
  width: 395px;
  height: 395px;
  border: none;
  background: #ff0027;
  background: linear-gradient(91deg, #ff0027 0%, rgba(255, 0, 192, 0.85) 80%);
  background: -webkit-linear-gradient(91deg, #ff0027 0%, rgba(255, 0, 192, 0.85) 80%);
  background: -moz-linear-gradient(91deg, #ff0027 0%, rgba(255, 0, 192, 0.85) 80%);
  pointer-events: none;
  box-shadow: -6px 106px 179px -30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 106px 179px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 106px 179px -30px rgba(0, 0, 0, 0.75);
}

.step3 p{
  animation: blinks 2s infinite;
}

@keyframes blinks{
    50% {
    opacity: 0;
  }
}

.step3 .img-start video {
  cursor: pointer;
  pointer-events: fill;
  border-radius: 50%;
  width: 386px;
}

.step3 .img-start video:active {
  opacity: 0.8;
}

.step4 {
  font-weight: 700;
  font-size: 2rem;
  visibility: hidden;
}



/* .step7 svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.step7 svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.step7 svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.step7 svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}.step7 svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.step7 svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.step7 svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.step7 svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}

.step7 svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.step7 svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.step7 svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.step7 svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.step7 svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.step7 svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
}

.step7 svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.step7 svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.step7 svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.step7 svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.step7 svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.step7 svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
} */